annotated-types==0.7.0
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
einops==0.8.1
einx==0.4.2
flatbuffers==25.12.19
frozendict==2.4.7
gitdb==4.0.12
GitPython==3.1.46
iniconfig==2.3.0
jaxtyping==0.3.9
mkl-service==2.4.0
onnxruntime==1.24.4
platformdirs==4.5.1
pluggy==1.6.0
protobuf==6.33.3
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyMuPDF==1.27.2.2
pymupdf-layout==1.27.2.2
pymupdf4llm==1.27.2.2
pytest==9.0.2
regex==2025.11.3
sentry-sdk==2.49.0
smmap==5.0.2
submitit==1.5.4
sympy==1.14.0
tabulate==0.10.0
tiktoken==0.12.0
torch==2.10.0+cu128
torchaudio==2.2.0
torchvision==0.25.0+cu128
tqdm==4.67.3
typing-inspection==0.4.2
uv==0.9.24
wadler_lindig==0.1.7
wandb==0.23.1
